body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}
#start-screen,
#level-screen,
#results-screen {
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
  min-height: 100vh;
}
.btn-primary {
  background-color: rgb(97, 147, 255);
  color: rgb(22, 22, 22);
  border-radius: 16px;
  padding: 8px;
  min-width: 128px;
  text-align: center;
}
#categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 80%;
}
.btn-category {
  background-color: rgb(182, 205, 255);
  color: rgb(22, 22, 22);
  min-width: 64px;
  text-align: center;
  border-radius: 16px;
  padding: 8px;
}
.btn-category--disabled {
  background-color: rgb(192, 192, 192);
}
.hidden {
  display: none !important;
}
.result {
  font-weight: bold;
}
#good-result {
  color: rgb(0, 97, 0);
}
#correct-answer-screen {
  background-color: rgb(197, 255, 197);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
#bad-result {
  color: rgb(97, 0, 0);
}
#wrong-answer-screen {
  background-color: rgb(255, 197, 197);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
#correct-answer {
  margin: 0 0 32px;
  font-weight: bold;
}
input {
  border-radius: 16px;
  border: solid rgb(97, 147, 255) 2px;
  padding: 8px;
  width: 100%;
}
#answer {
  width: 80%;
}
#final-result {
  font-size: 48px;
  margin: 0;
}
#percentages {
  margin: 0;
  font-size: 32px;
}
